<!-- Heredar plantilla base de nuestros templates que estan a nivel proyecto-->
{% extends "layouts/base.html" %}
<!-- Titulo de nuestra plantilla -->
{% block title %}Inicio{% endblock %}
<!-- Contenido de nuestra plantilla que está a nivel aplicacion -->
{% block content %}
<h2>Inicio de Podcast App</h2>
<section>
	<article>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam neque, placeat. Nobis animi esse dolores suscipit repudiandae nesciunt corrupti dicta, similique inventore! Velit officia omnis iure repellat maxime asperiores. Ea!</p>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa rem nihil illum, quam dicta dolorem ullam hic eos dignissimos consequatur placeat dolor eius qui, veniam cum eligendi distinctio voluptatibus fuga.</p>
	</article>
</section>
{% endblock %}
