<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="author" content="MHCelso"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{% block title %}Podcast App{% endblock %}</title>
</head>
<body>
	<!-- Este es el Header -->
	<header>
		<h1>Header</h1>
	</header>
	{% block content %}
	    <!-- Aqui va el contenido de otra plantilla -->
	{% endblock %}
	<!-- Este es el Footer -->
	<footer>
		<h2>Aqui va el Footer</h2>
	</footer>
</body>
</html>